* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f4f4;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

header {
  background-color: #001e3b;
  height: 80px;
  color: #f4f4f4;
  justify-content: space-around;
}

ul .navbar-menu {
  color: #f4f4f4;
}
